header {
  color: white;
  height: 100%;
  background-color: #67597A;
  font-size: 24px;
  border-bottom: 3px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

h1 {
  grid-column: 2;
  margin-bottom: 0;
  margin-top: 0;
}

.favorites-button {
  /* margin-top: 10%; */
  /* grid-row: 2; */
  grid-column: 1;
  width: 50%;
  height: 90%;
  font-size: 1.5vw;
  background-color: #004346;
  color: #FFFFFF;
  margin-left: 7%;
  box-shadow: 6px 6px black;
}

.home-button {
  /* margin-top: 10%; */
  grid-column: 3;
  /* grid-row: 2; */
  width: 50%;
  height: 90%;
  font-size: 1.5vw;
  background-color: #004346;
  color: #FFFFFF;
  margin-right: 7%;
  box-shadow: 6px 6px black;
}
