.project-area {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  text-align: center;
  width: 40%;
  border: 3px solid black;
  border-radius: 3%;
  font-size: 1.5em;
  background-color: lightsteelblue;
}

.save-to-favorites {
  height: 3em;
  font-size: .8em;
  background-color: #004346;
  color: #FFFFFF;
  border: 1px solid lightsteelblue;
}
