@font-face {
  font-family: 'Gloria';
  src: local('Gloria'), url(../fonts/GloriaHallelujah-Regular.ttf) format('truetype');
}

html {
  height: 100%;
  background-color: white;
}

.App {
  text-align: center;
}

.random-project-button {
  font-family: Gloria;
  margin-top: 3%;
  font-size: 2em;
  height: 5em;
  width: 30vw;
  background-color: lightsteelblue;
  border-radius: 3%;
  border: 3px solid black;
  box-shadow: 10px 10px;
}

.page-description {
  margin-top: 5%
}
